@font-face {
  font-family: "NT-Somic";
  src: url("../fonts/NTSomic-Medium.woff2") format("woff2"), url("../fonts/NTSomic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NT-Somic";
  src: url("../fonts/NTSomic-Bold.woff2") format("woff2"), url("../fonts/NTSomic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NT-Somic";
  src: url("../fonts/NTSomic-Regular.woff2") format("woff2"), url("../fonts/NTSomic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  background-color: transparent;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

input,
textarea,
select {
  resize: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 300;
}

strong {
  font-weight: 300;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._cont {
  max-width: 1455px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 100px;
  margin-right: 395px;
}

h1 {
  font: 500 99px/1.09 "NT-Somic";
}

h2 {
  font: 300 16px/1.12 "Manrope";
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.btn {
  font: 500 16px/1.56 "NT-Somic";
  padding: 15px 35px;
  border-radius: 40px;
  background: #F4D877;
  border: 2px solid transparent;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.btn:hover {
  border-color: #F4D877;
  background: transparent;
  color: #F4D877;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 10, 46, 0.43)), to(rgba(0, 10, 46, 0)));
  background: -o-linear-gradient(top, rgba(0, 10, 46, 0.43) 0%, rgba(0, 10, 46, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 10, 46, 0.43) 0%, rgba(0, 10, 46, 0) 100%);
  z-index: 100;
}

.header__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  max-width: 1592px;
  margin: 40px 228px 40px 100px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 142px;
          flex: 0 0 142px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.header__logo:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__burger {
  display: none;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}

.main-nav__link {
  display: none;
}

.main-nav__copyright {
  display: none;
}

.lang-toggle {
  position: relative;
  text-transform: uppercase;
}

.lang-toggle__current {
  position: relative;
  cursor: pointer;
  padding-right: 10px;
}

.lang-toggle__current::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 4px;
  background: url(../img/home/language-arrow.svg) center/contain no-repeat;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.lang-toggle__current._active::before {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.lang-toggle__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.lang-toggle__item {
  margin: 10px 0;
}

.lang-toggle__item._active {
  display: none;
}

.lang-toggle__item a {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.lang-toggle__item a:hover {
  opacity: 0.6;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}

.main-menu__item a {
  text-transform: uppercase;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.main-menu__item a:hover {
  opacity: 0.6;
}

.extra-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 100;
}

.extra-links__item:nth-child(2) {
  background: #F4D877;
}

.extra-links__item:nth-child(3) {
  background: #07153B;
}

.extra-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 37px 21px;
}

.extra-item_current {
  height: auto;
}

.extra-item_current .extra-item__arrow {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.extra-item a,
.extra-item button {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.extra-item a:hover,
.extra-item button:hover {
  opacity: 0.6;
}

.extra-item__arrow {
  display: block;
  width: 45px;
  height: 45px;
  background: url(../img/home/arrow-top.svg) center/contain no-repeat;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.extra-item__ico {
  width: 35px;
  height: 35px;
}

.extra-item__ico img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.extra-item__name {
  font: 400 24px/1.08 "NT-Somic";
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.mainscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100vh;
  background: url(../img/home/mainscreen-bg.jpg) center/cover no-repeat;
}

.mainscreen__cont {
  padding-top: 144px;
  padding-bottom: 170px;
}

.mainscreen__title {
  border-bottom: 1px solid #fff;
  margin-bottom: 55px;
}

.mainscreen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 47px;
}

.mainscreen__text {
  color: #ffffff99;
  max-width: 395px;
}

.portfolio__cont {
  padding-top: 174px;
}

.portfolio__title {
  margin-bottom: 60px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 45px;
  margin-bottom: 60px;
}

.portfolio__more {
  text-align: center;
}

.item-portfolio {
  width: calc(50% - 20px);
}

.item-portfolio_big {
  width: 100%;
}

.item-portfolio_big .item-portfolio__text {
  max-width: 652px;
}

.item-portfolio__img {
  display: block;
  margin-bottom: 20px;
}

.item-portfolio__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-portfolio__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.item-portfolio__left,
.item-portfolio__right {
  width: calc(50% - 5px);
}

.item-portfolio__name {
  font: 600 24px/1.2 "Manrope";
}

.item-portfolio__platform {
  width: 90px;
  margin-top: 22px;
}

.item-portfolio__platform img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-portfolio__text {
  font: 300 16px/1.25 "Manrope";
  color: #FFFFFF99;
  max-width: 324px;
}