//<================================================================= FONTS ================================================================>\\

// 100 - Thin (Hairline)
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

//&display=swap - оптимізація підвантаження шрифта
//&subset=cyrillic-ext - підвантаження кириличної версії

@font-face {
    font-family: 'NT-Somic';
    src: url('../fonts/NTSomic-Medium.woff2') format('woff2'),
        url('../fonts/NTSomic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NT-Somic';
    src: url('../fonts/NTSomic-Bold.woff2') format('woff2'),
        url('../fonts/NTSomic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NT-Somic';
    src: url('../fonts/NTSomic-Regular.woff2') format('woff2'),
        url('../fonts/NTSomic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Light.woff2') format('woff2'),
        url('../fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// Змінна font-family
$ff: 'Manrope';

// Змінна font-size
$fs: 16px;

// Змінна font-weight
$fw: 300;

// Змінна color
$fc: #fff;

//<============================================================= CUSTOM RESET =============================================================>\\

// Максимальна ширина обмежуючого контейнера
$mw: 1425px;

// Фоновий колір для body
$bgc: #000;

// Обнулення стилів
@import 'reset';

//<================================================================ DEFAULT ===============================================================>\\

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

._cont {
	max-width: $mw + 30px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 100px;
	margin-right: 365px;
}

@media (min-width: 1921px) {

	section {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1600px) {

	._cont {
		margin-left: 65px;
		margin-right: 240px;
	}
}

@media (max-width: 1440px) {

	._cont {
		margin-left: 49px;
		margin-right: 180px;
	}
}

@media (max-width: 992px) {

	._cont {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 14px;
	}
}

//<======================================================= БАГАТОРАЗОВЕ ВИКОРИСТАННЯ ======================================================>\\

h1 {
	font: 500 99px/1.09 'NT-Somic';
}

h2 {
	font: 300 16px/1.12 $ff;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font: 600 16px/1.56 'NT-Somic';
	padding: 15px 35px;
	border-radius: 40px;
	background: #F4D877;
	border: 2px solid transparent;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	transition: all linear 0.2s;

	// .btn:hover
	&:hover {
		border-color: #F4D877;
		background: transparent;
		color: #F4D877;
	}

	// .btn_dark
	&_dark {
		border-color: #F4D877;
		background: transparent;
		color: #F4D877;

		// .btn_dark:hover
		&:hover {
			background: #F4D877;
			border: 2px solid transparent;
			color: #000;
		}
	}
}

@media (max-width: 1440px) {

	h1 {
		font-size: 85px;
	}

	.btn {
		padding: 10px 25px;
	}
}

@media (max-width: 992px) {

	.btn {
		font-size: 14px;
		padding: 10px 20px;
	}
}

@media (max-width: 768px) {

	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 15px;
	}
}

@media (max-width: 550px) {

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 14px;
	}
}

//<================================================================== ХЕДЕР ===============================================================>\\

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(180deg, rgba(0, 10, 46, 0.43) 0%, rgba(0, 10, 46, 0) 100%);
	z-index: 100;

	// .header__cont
	&__cont {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		max-width: 2172px;
		margin: 40px 228px 40px 100px;
	}

	// .header__logo
	&__logo {
		flex: 0 0 142px;
		transition: all linear 0.2s;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .header__burger
	&__burger {
		display: none;
		position: relative;
		flex: 0 0 23px;
		height: 23px;

		// .header__burger::before, .header__burger::after
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 18px;
			height: 1px;
			transform: rotate(-45deg);
			background: #fff;
			transition: all linear 0.2s;
		}

		// .header__burger::before
		&::before {
			top: 7px;
			left: -2px;
		}

		// .header__burger::after
		&::after {
			bottom: 7px;
			right: -2px;
		}

		// .header__burger._active
		&._active {

			// .header__burger._active::before
			&::before {
				transform: rotate(-135deg);
			}

			// .header__burger._active::after
			&::after {
				bottom: 6px;
				transform: rotate(45deg);
			}
		}

		// .header__burger span
		& span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)rotate(-45deg);
			width: 32px;
			height: 1px;
			background: #fff;
		}
	}
}

.main-nav {
	display: flex;
	gap: 75px;

	// .main-nav__link
	&__link {
		display: none;
	}

	// .main-nav__copyright
	&__copyright {
		display: none;
	}
}

.lang-toggle {
	position: relative;
	text-transform: uppercase;

	// .lang-toggle__current
	&__current {
		position: relative;
		cursor: pointer;
		padding-right: 10px;

		// .lang-toggle__current::before
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 7px;
			height: 4px;
			background: url(../img/home/language-arrow.svg) center/contain no-repeat;
			transition: all linear 0.2s;
		}

		// .lang-toggle__current._active
		&._active::before {
			transform: translateY(-50%)rotate(-180deg);
		}
	}

	// .lang-toggle__list
	&__list {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

	}

	// .lang-toggle__item
	&__item {
		margin: 10px 0;

		// .lang-toggle__item._active
		&._active {
			display: none;
		}

		// .lang-toggle__item a
		& a {
			transition: all linear 0.2s;
		}

		// .lang-toggle__item a:hover
		& a:hover {
			opacity: 0.6;
		}
	}
}

.main-menu {
	display: flex;
	gap: 75px;

	// .main-menu__item
	&__item {

		// .main-menu__item a
		& a {
			text-transform: uppercase;
			transition: all linear 0.2s;
		}

		// .main-menu__item a:hover
		& a:hover {
			opacity: 0.6;
		}
	}
}

@media (max-width: 1600px) {

	.header {

		// .header__cont
		&__cont {
			max-width: 1320px;
			margin: 40px 195px 40px 85px;
		}

		// .header__logo
		&__logo {
			flex: 0 0 120px;
		}
	}
}

@media (max-width: 1440px) {

	.header {

		// .header__cont
		&__cont {
			max-width: 1225px;
			margin: 40px 150px 40px 65px;
		}
	}

	.main-nav {
		display: flex;
		gap: 40px;
	}

	.main-menu {
		gap: 40px;
	}
}

@media (max-width: 992px) {

	.header {

		// .header__cont
		&__cont {
			margin: 20px 15px 20px 15px;
		}

		// .header__logo
		&__logo {
			position: relative;
			flex: 0 0 100px;
			z-index: 100;
		}
	}
}

@media (max-width: 768px) {

	.header {

		// .header__logo
		&__logo {
			flex: 0 0 75px;
		}

		// .header__burger
		&__burger {
			display: block;
		}
	}

	.main-nav {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: calc(100% - 49px);
		background: url(../img/home/burger-bg.jpg) center/cover no-repeat;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 60px;
		overflow: auto;
		padding: 160px 15px 30px;
		transition: all linear 0.2s;

		// .main-nav._active
		&._active {
			top: 0;
		}

		// .main-nav__actions
		&__actions {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 35px;
		}

		// .main-nav__link
		&__link {
			display: inline-flex;
		}

		// .main-nav__copyright
		&__copyright {
			display: block;
		}
	}

	.lang-toggle {

		// .lang-toggle__list
		&__list {
			position: static;
		}
	}

	.main-menu {
		flex-direction: column;
		align-items: center;
		gap: 30px;

		.main-menu__item {
			font-size: 14px;
		}
	}

	.main-nav__copyright {
		font-size: 14px;
	}
}

//<================================================================== ФУТЕР ===============================================================>\\

.footer {
	border-top: 1px solid #fff;

	// .footer__cont
	&__cont {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.author {
	display: flex;
	align-items: center;
	gap: 10px;

	// .author__logo
	&__logo {
		display: block;
		width: 40px;
		height: 40px;
		transition: all linear 0.2s;

		// .author__logo:hover
		&:hover {
			transform: scale(0.95);
		}

		// .author__logo img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .author__text
	&__text {
		font: 500 16px/1.56 'NT-Somic';
	}
}

@media (max-width: 425px) {

	.footer {

		// .footer__cont
		&__cont {
			padding-top: 35px;
			padding-bottom: 100px;
		}
	}

	.author {
		flex-direction: column;
		align-items: flex-start;

		// .author__text p
		&__text p {
			max-width: 225px;
		}

		// .author__text p:not(:last-child)
		&__text p:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

//<============================================================= EXTRA LINKS ==============================================================>\\

.extra-links {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	display: flex;
	align-items: flex-end;
	z-index: 100;

	// .extra-links__item:nth-child(2)
	&__item:nth-child(2) {
		background: #F4D877;

		.extra-item__name {
			color: #000;
		}
	}

	// .extra-links__item:nth-child(3)
	&__item:nth-child(3) {
		background: #07153B;
	}
}

.extra-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	height: 100%;
	padding: 37px 21px;

	// .extra-item_current
	&_current {
		position: absolute;
		bottom: 0;
		right: 100%;
		height: auto;

		// .extra-item_current .extra-item__arrow
		.extra-item__arrow {
			transform: rotate(0deg);
		}
	}

	// .extra-item a, .extra-item button
	& a,
	& button {
		transition: all linear 0.2s;

		// .extra-item a:hover, .extra-item button:hover
		&:hover {
			opacity: 0.6;
		}
	}

	// .extra-item__arrow
	&__arrow {
		display: block;
		width: 45px;
		height: 45px;
		background: url(../img/home/arrow-top.svg) center/contain no-repeat;
		transform: rotate(45deg);
	}

	// .extra-item__ico
	&__ico {
		width: 35px;
		height: 35px;

		// .extra-item__ico img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .extra-item__name
	&__name {
		font: 400 24px/1.08 'NT-Somic';
		text-transform: uppercase;
		writing-mode: vertical-rl;
	}
}

@media (max-width: 1600px) {

	.extra-item {
		padding: 25px 15px;

		// .extra-item__arrow
		&__arrow {
			width: 35px;
			height: 35px;
		}

		// .extra-item__ico
		&__ico {
			width: 30px;
			height: 30px;
		}

		// .extra-item__name
		&__name {
			font-size: 20px;
		}
	}
}

@media (max-width: 1440px) {

	.extra-item {
		padding: 20px 10px;

		// .extra-item__arrow
		&__arrow {
			width: 30px;
			height: 30px;
		}

		// .extra-item__ico
		&__ico {
			width: 25px;
			height: 25px;
		}

		// .extra-item__name
		&__name {
			font-size: 18px;
		}
	}
}

@media (max-width: 992px) {

	.extra-links {
		top: initial;
		bottom: 0;
		height: auto;
		width: 100%;
		flex-direction: row-reverse;
	}

	.extra-item {
		flex-direction: row;
		justify-content: center;
		gap: 12px;
		width: 50%;
		padding: 16px;

		// .extra-item_current
		&_current {
			display: none;
		}

		// .extra-item__ico
		&__ico {
			display: none;
		}

		// .extra-item__name
		&__name {
			writing-mode: initial;
		}
	}
}

@media (max-width: 768px) {

	.extra-item {

		// .extra-item__arrow
		&__arrow {
			width: 17px;
			height: 17px;
		}

		// .extra-item__name
		&__name {
			font-size: 14px;
		}
	}
}

//<============================================================== MAINSCREEN ==============================================================>\\

.mainscreen {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100vh;
	background: #040A37;
	background: radial-gradient(at center, #003385, #040A37);

	// .mainscreen__cont
	&__cont {
		padding-top: 155px;
		padding-bottom: 170px;
	}

	// .mainscreen__title
	&__title {
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
		margin-bottom: 55px;
	}

	// .mainscreen__info
	&__info {
		display: flex;
		flex-wrap: wrap;
		column-gap: 47px;
		row-gap: 20px;
	}

	// .mainscreen__tbox
	&__tbox {
		display: flex;
		gap: 47px;
	}

	// .mainscreen__text
	&__text {
		font-weight: 200;
		line-height: 1.5;
		color: $fc;
		max-width: 395px;
	}
}

@media (min-width: 1921px) {

	.mainscreen {
		align-items: center;
	}
}

@media (max-width: 1440px) {

	.mainscreen {

		// .mainscreen__info
		&__info {
			gap: 30px;
		}
	}
}

@media (max-width: 992px) {

	.mainscreen {

		// .mainscreen__cont
		&__cont {
			padding-top: 95px;
		}

		// .mainscreen__title
		&__title {
			margin-bottom: 30px;
		}

		// .mainscreen__info
		&__info {
			column-gap: 20px;
		}

		// .mainscreen__tbox
		&__tbox {
			gap: 20px;
		}

		// .mainscreen__text
		&__text {
			max-width: 335px;
		}
	}
}

@media (max-width: 768px) {

	.mainscreen {
		background: url(../img/home/mainscreen-mobile-bg.jpg) center/cover no-repeat;

		// .mainscreen__title
		&__title {
			margin-bottom: 20px;
		}

		// .mainscreen__tbox p:last-child
		&__tbox p:last-child {
			display: none;
		}
	}
}

@media (max-width: 550px) {

	.mainscreen {

		// .mainscreen__info
		&__info {
			flex-direction: column-reverse;
			align-items: flex-start;
			row-gap: 40px;
		}

		// .mainscreen__text
		&__text {
			max-width: 310px;
		}
	}
}

//<============================================================== PORTFOLIO ===============================================================>\\

.portfolio {

	// .portfolio__cont
	&__cont {
		padding-top: 174px;
		padding-bottom: 120px;
	}

	// .portfolio__title
	&__title {
		margin-bottom: 60px;
	}

	// .portfolio__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 45px;
		margin-bottom: 60px;
	}

	// .portfolio__more
	&__more{
		text-align: center;
	}
}

.item-portfolio {
	width: calc(50% - 20px);

	// .item-portfolio_big
	&_big {
		width: 100%;

		.item-portfolio__text {
			max-width: 652px;

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2; /* number of lines to show */
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}

	// .item-portfolio__ibox
	&__ibox {
		display: block;
		margin-bottom: 20px;
		background: #ffffff;

		// .item-portfolio__ibox img
		& img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;

			-webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
			mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
			-webkit-mask-size: 800%;
			mask-size: 800%;
			-webkit-mask-position: 0;
			mask-position: 0;
		}

		& img.mask {
			transition: mask-position 2s ease,-webkit-mask-position 2s ease;
			-webkit-mask-position: 120%;
			mask-position: 120%;
			opacity: 1;
		}
	}

	// .item-portfolio__info
	&__info {
		display: flex;
		gap: 10px;
	}

	// .item-portfolio__left, .item-portfolio__right
	&__left,
	&__right {
		width: calc(50% - 5px);
	}

	// .item-portfolio__name
	&__name {
		font: bold 24px/1.2 'NT-Somic';
	}

	// .item-portfolio__platform
	&__platform {
		width: 67px;
		margin-top: 12px;

		// .item-portfolio__platform img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .item-portfolio__text
	&__text {
		font: 300 16px/1.25 $ff;
		color: #FFFFFF99;
		max-width: 324px;

		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* number of lines to show */
		line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}

@media (max-width: 1440px) {

	.portfolio {

		// .portfolio__cont
		&__cont {
			padding-top: 100px;
			padding-bottom: 70px;
		}

		// .portfolio__title
		&__title {
			margin-bottom: 40px;
		}

		// .portfolio__list
		&__list {
			column-gap: 20px;
			row-gap: 25px;
			margin-bottom: 40px;
		}
	}

	.item-portfolio {
		width: calc(50% - 10px);

		// .item-portfolio_big
		&_big {
			width: 100%;
		}

		// .item-portfolio__name
		&__name {
			font-size: 20px;
		}

		// .item-portfolio__text
		&__text {
			font-size: 14px;
		}
	}
}

@media (max-width: 768px) {

	.item-portfolio {
		width: 100%;
	}
}

@media (max-width: 425px) {

	.portfolio {

		// .portfolio__cont
		&__cont {
			padding-top: 90px;
			padding-bottom: 50px;
		}

		// .portfolio__title
		&__title {
			margin-bottom: 32px;
		}

		// .portfolio__list
		&__list {
			row-gap: 30px;
			margin-bottom: 30px;
		}
	}

	.item-portfolio {

		// .item-portfolio__ibox
		&__ibox {
			margin-bottom: 10px;
		}

		// .item-portfolio__left
		&__left {
			display: flex;
			justify-content: space-between;
			gap: 10px;
			width: 100%;
		}

		// .item-portfolio__right
		&__right {
			display: none;
		}

		// .item-portfolio__name
		&__name {
			font-size: 20px;
		}

		// .item-portfolio__platform
		&__platform {
			margin-top: 0;
		}
	}
}

//<================================================================ ABOUT =================================================================>\\

.about {
	background: #000A2E;

	// .about__cont
	&__cont {
		padding-top: 180px;
		padding-bottom: 110px;
	}

	// .about__title
	&__title {
		margin-bottom: 104px;
	}

	// .about__content
	&__content {
		display: flex;
		gap: 70px;
	}

	// .about__info
	&__info {
		width: calc(54% - 35px);
	}

	// .about__ibox
	&__ibox {
		width: calc(46% - 35px);

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		& video {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.info-about {
	display: flex;
	flex-direction: column;
	justify-content: center;

	// .info-about__title
	&__title {
		font: 500 54px/1.09 'NT-Somic';
		margin-bottom: 27px;

		// .info-about__title strong
		& strong {
			color: #F4D877;
			font-weight: 500;
		}
	}

	// .info-about__tbox
	&__tbox {
		color: #FFFFFF99;
		line-height: 1.5;
		margin-bottom: 40px;

		// .info-about__tbox p:not(:last-child)
		& p:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .info-about__ibox
	&__ibox {
		display: none;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.about-stats {
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 10px;

	// .about-stats__number
	&__number {
		font: 500 36px/1.19 'NT-Somic';
	}

	// .about-stats__name
	&__name {
		line-height: 1.5;
		color: #F4D877;
	}
}

@media (max-width: 768px) {

	.about {

		// .about__cont
		&__cont {
			padding-top: 100px;
			padding-bottom: 70px;
		}

		// .about__title
		&__title {
			margin-bottom: 50px;
		}

		// .about__info
		&__info {
			width: 100%;
		}

		// .about__ibox
		&__ibox {
			display: none;
		}
	}

	.info-about {

		// .info-about__ibox
		&__ibox {
			display: block;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}

	.about-stats {
		justify-content: space-around;
	}
}

@media (max-width: 425px) {

	.about {

		// .about__cont
		&__cont {
			padding-top: 90px;
			padding-bottom: 90px;
		}

		// .about__title
		&__title {
			margin-bottom: 35px;
		}
	}

	.info-about {

		// .info-about__title
		&__title {
			font-size: 25px;
			margin-bottom: 15px;
		}

		// .info-about__tbox
		&__tbox {
			margin-bottom: 35px;

			// .info-about__tbox p:not(:first-child)
			& p:not(:first-child) {
				display: none;
			}
		}
	}

	.about-stats {
		justify-content: flex-start;
		column-gap: 39px;

		// .about-stats__item
		&__item {
			width: calc(33.33% - 26px);
		}

		// .about-stats__nunber
		&__nunber {
			font-size: 20px;
		}
	}
}

//<=============================================================== FEATURES ===============================================================>\\

.features {
	background: #000A2E;

	// .features__cont
	&__cont {
		padding-top: 110px;
		padding-bottom: 86px;
	}

	// .features__title
	&__title {
		margin-bottom: 73px;
	}

	// .features__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 45px;
		row-gap: 80px;
		margin-bottom: 67px;
	}

	// .features__item
	&__item {
		width: calc(33.33% - 30px);
	}

	// .features__name
	&__name {
		font: 500 24px/1.2 'NT-Somic';
		margin-bottom: 7px;

		// .features__name strong
		& strong {
			color: #F4D877;
			font-weight: 500;
		}
	}

	// .features__text
	&__text {
		color: #FFFFFF99;
		line-height: 1.5;
	}

	// .features__link
	&__link {
		text-align: center;
	}
}

@media (max-width: 1440px) {

	.features {

		// .features__cont
		&__cont {
			padding-top: 80px;
			padding-bottom: 100px;
		}

		// .features__title
		&__title {
			margin-bottom: 50px;
		}

		// .features__list
		&__list {
			column-gap: 24px;
			row-gap: 50px;
			margin-bottom: 25px;
		}

		// .features__item
		&__item {
			width: calc(33.33% - 16px);
		}

		// .features__name
		&__name {
			font-size: 20px;
		}
	}
}

@media (max-width: 992px) {

	.features {

		// .features__cont
		&__cont {
			padding-top: 45px;
		}

		// .features__title
		&__title {
			margin-bottom: 35px;
		}

		// .features__list
		&__list {
			column-gap: 14px;
			row-gap: 14px;
		}

		// .features__item
		&__item {
			width: calc(50% - 7px);
		}

		// .features__link
		&__link {
			text-align: center;
			padding: 0;
		}
	}
}

//<================================================================ DIALOG ================================================================>\\

.dialog {

	// .dialog__cont
	&__cont {
		padding-top: 187px;
		padding-bottom: 122px;
	}

	// .dialog__phrase:not(:last-child)
	&__phrase:not(:last-child) {
		margin-bottom: 30px;
	}
}

.phrase-dialog {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	// .phrase-dialog_client
	&_client {
		align-items: start;

		// .phrase-dialog_client .phrase-dialog__text
		.phrase-dialog__text {
			position: relative;
			padding-left: 30px;
		}

		// .phrase-dialog_client .phrase-dialog__text::before
		.phrase-dialog__text::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 18px;
			height: 4px;
			background: #fff;
		}
	}

	// .phrase-dialog_team
	&_team {
		align-items: end;

		// .phrase-dialog_team .phrase-dialog__item
		.phrase-dialog__item {
			position: relative;
			padding: 24px 45px 30px 60px;
			border: 1px solid #182246;
			border-radius: 30px;
			min-width: 66%;
			margin-right: 90px;
		}

		// .phrase-dialog_team .phrase-dialog__item:last-child::before
		.phrase-dialog__item:last-child::before {
			content: "";
			position: absolute;
			bottom: -1px;
			right: -42px;
			width: 90px;
			height: 67px;
			background: #000 url(../img/home/phrase-angle.svg) center/contain no-repeat;
		}

		// .phrase-dialog_team .phrase-dialog__time
		.phrase-dialog__time {
			bottom: 15px;
			right: 15px;
		}
	}

	// .phrase-dialog__item
	&__item {
		display: inline-block;
		position: relative;
		padding-bottom: 28px;
	}

	// .phrase-dialog__text
	&__text {
		font: 500 36px/1.08 'NT-Somic';
	}

	// .phrase-dialog__time
	&__time {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		color: #FFFFFF99;
		padding-right: 22px;

		// .phrase-dialog__time::before
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 17px;
			height: 9px;
			background: url(../img/home/chat-tick.svg) center/contain no-repeat;
		}
	}

	// .phrase-dialog__deal
	&__deal {
		display: flex;
		align-items: center;
		gap: 23px;
	}
}

.phrase-sites {
	display: flex;
	flex-wrap: wrap;
	column-gap: 22px;
	row-gap: 10px;

	// .phrase-sites__item
	&__item {
		position: relative;
		background: #000A2E;
		padding: 11px 16px 14px;

		// .phrase-sites__item::before
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 34px 34px 0;
			border-color: transparent #000000 transparent transparent;
		}
	}

	// .phrase-sites__ibox
	&__ibox {
		width: 35px;
		height: 35px;
		margin-bottom: 12px;

		// .phrase-sites__ibox img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .phrase-sites__name
	&__name {
		line-height: 1.18;
		max-width: 130px;
	}
}

.phrase-workflow {
	display: flex;
	gap: 12px;

	// .phrase-workflow__item
	&__item {
		width: calc(33.33% - 8px);
		max-width: 240px;
	}

	// .phrase-workflow__ibox
	&__ibox {
		width: 98px;
		height: 80px;
		margin-bottom: 8px;

		// .phrase-workflow__ibox img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .phrase-workflow__title
	&__title {
		font: 500 24px/1.29 'NT-Somic';
		margin-bottom: 5px;
	}

	// .phrase-workflow__text
	&__text {
		color: #FFFFFFB2;
		line-height: 1.5;
	}
}

@media (max-width: 1440px) {

	.dialog {

		// .dialog__cont
		&__cont {
			padding-top: 120px;
			padding-bottom: 80px;
		}
	}

	.phrase-dialog {

		// .phrase-dialog_team
		&_team {

			// .phrase-dialog_team .phrase-dialog__item
			.phrase-dialog__item {
				padding: 15px 25px 30px 30px;
			}
		}

		// .phrase-dialog__item
		&__item {
			max-width: 60%;
		}

		// .phrase-dialog__text
		&__text {
			font-size: 30px;
		}
	}

	.phrase-sites {
		column-gap: 10px;
	}

	.phrase-workflow {

		// .phrase-workflow__ibox
		&__ibox {
			width: 80px;
			height: 65px;
		}

		// .phrase-workflow__title
		&__title {
			font-size: 22px;
		}
	}
}

@media (max-width: 768px) {

	.dialog {

		// .dialog__cont
		&__cont {
			padding-top: 90px;
		}
	}

	.phrase-dialog {

		// .phrase-dialog_team
		&_team {

			// .phrase-dialog_team .phrase-dialog__item
			.phrase-dialog__item {
				width: 75%;
				max-width: 284px;
				padding: 15px 15px 30px 15px;
				margin-right: 0;
				box-sizing: border-box;
			}

			.phrase-dialog__time {
				bottom: 10px;
			}

			// .phrase-dialog_team .phrase-dialog__item:last-child::before
			.phrase-dialog__item:last-child::before {
				bottom: 0;
				right: -19px;
				width: 40px;
				height: 30px;
			}
		}

		// .phrase-dialog__text
		&__text {
			font-size: 20px;
		}

		// .phrase-dialog__deal
		&__deal {
			flex-direction: column;
			align-items: flex-start;
			gap: 11px;
		}
	}

	.phrase-sites {

		// .phrase-sites__item
		&__item {
			padding: 10px 10px 20px;

			.phrase-sites__name {
				font-size: 12px;
				line-height: 18px;
			}

			// .phrase-sites__item::before
			&::before {
				border-width: 0 25px 25px 0;
			}
		}

		// .phrase-sites__ibox
		&__ibox {
			width: 25px;
			height: 22px;
			margin-bottom: 8px;
		}
	}

	.phrase-workflow {
		flex-direction: column;
		gap: 20px;

		// .phrase-workflow__item
		&__item {
			width: 100%;
			max-width: none;

			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.phrase-workflow__title {
				margin-left: 15px;
				max-width: calc(100% - 88px);

				line-height: 24px;
			}
			.phrase-workflow__text {
				font-size: 12px;
				line-height: 18px;

				width: 100%;
			}
		}

		// .phrase-workflow__ibox
		&__ibox {
			width: 73px;
			height: 58px;
		}

		// .phrase-workflow__title
		&__title {
			font-size: 20px;
		}
	}
}

//<============================================================= PARTNERSHIP ==============================================================>\\

.partnership {

	// .partnership__cont
	&__cont {
		display: flex;
		gap: 36px;
		padding-top: 122px;
		padding-bottom: 130px;
	}

	// .partnership__left
	&__left {
		flex: 1 1 auto;
	}

	// .partnership__text
	&__text {
		font: 500 36px/1.5 'NT-Somic';
		margin-bottom: 25px;
	}

	// .partnership__right
	&__right {
		flex: 0 0 400px;
		padding-top: 20px;
	}

	// .partnership__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	// .partnership__item
	&__item {
		position: relative;
		font: 600 18px/1.38 'NT-Somic';
		color: #000;
		background: #fff;
		border-radius: 20px;
		padding: 7px 10px 7px 33px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			width: 18px;
			height: 18px;
			background: url(../img/home/benefits-tick.svg) center/contain no-repeat;
		}
	}
}

@media (max-width: 992px) {

	.partnership {

		// .partnership__cont
		&__cont {
			flex-direction: column;
			gap: 38px;
			padding-top: 20px;
			padding-bottom: 65px;
		}

		// .partnership__text
		&__text {
			font-size: 20px;
			margin-bottom: 15px;
		}

		// .partnership__right
		&__right {
			flex: 0 1 auto;
			padding-top: 0;
		}

		// .partnership__item
		&__item {
			font-size: 14px;
		}
	}
}