//<================================================================= FONTS ================================================================>\\

// 100 - Thin (Hairline)
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

//&display=swap - оптимізація підвантаження шрифта
//&subset=cyrillic-ext - підвантаження кириличної версії

@font-face {
    font-family: 'NT-Somic';
    src: url('../fonts/NTSomic-Medium.woff2') format('woff2'),
        url('../fonts/NTSomic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NT-Somic';
    src: url('../fonts/NTSomic-Bold.woff2') format('woff2'),
        url('../fonts/NTSomic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NT-Somic';
    src: url('../fonts/NTSomic-Regular.woff2') format('woff2'),
        url('../fonts/NTSomic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Light.woff2') format('woff2'),
        url('../fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// Змінна font-family
$ff: 'Manrope';

// Змінна font-size
$fs: 16px;

// Змінна font-weight
$fw: 300;

// Змінна color
$fc: #fff;

//<============================================================= CUSTOM RESET =============================================================>\\

// Максимальна ширина обмежуючого контейнера
$mw: 1425px;

// Фоновий колір для body
$bgc: #000;

// Обнулення стилів
@import 'reset';

//<================================================================ DEFAULT ===============================================================>\\

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

._cont {
	max-width: $mw + 30px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 100px;
	margin-right: 365px;
}

//<======================================================= БАГАТОРАЗОВЕ ВИКОРИСТАННЯ ======================================================>\\

h1 {
	font: 500 99px/1.09 'NT-Somic';
}

h2 {
	font: 300 16px/1.12 $ff;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font: 600 16px/1.56 'NT-Somic';
	padding: 15px 35px;
	border-radius: 40px;
	background: #F4D877;
	border: 2px solid transparent;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	transition: all linear 0.2s;

	// .btn:hover
	&:hover {
		border-color: #F4D877;
		background: transparent;
		color: #F4D877;
	}

	// .btn_dark
	&_dark {
		border-color: #F4D877;
		background: transparent;
		color: #F4D877;

		// .btn_dark:hover
		&:hover {
			background: #F4D877;
			border: 2px solid transparent;
			color: #000;
		}
	}
}

//<================================================================== ХЕДЕР ===============================================================>\\

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(180deg, rgba(0, 10, 46, 0.43) 0%, rgba(0, 10, 46, 0) 100%);
	z-index: 100;

	// .header__cont
	&__cont {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		max-width: 1592px;
		margin: 40px 228px 40px 100px;
	}

	// .header__logo
	&__logo {
		flex: 0 0 142px;
		transition: all linear 0.2s;

		// .header__logo:hover
		&:hover {
			transform: scale(0.95);
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .header__nav
	&__nav {
	}

	// .header__burger
	&__burger {
		display: none;
	}
}

.main-nav {
	display: flex;
	gap: 75px;

	// .main-nav__actions
	&__actions {
	}

	// .main-nav__link
	&__link {
		display: none;
	}

	// .main-nav__languages
	&__languages {
	}

	// .main-nav__copyright
	&__copyright {
		display: none;
	}

	// .main-nav__menu
	&__menu {
	}
}

.lang-toggle {
	position: relative;
	text-transform: uppercase;

	// .lang-toggle__current
	&__current {
		position: relative;
		cursor: pointer;
		padding-right: 10px;

		// .lang-toggle__current::before
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 7px;
			height: 4px;
			background: url(../img/home/language-arrow.svg) center/contain no-repeat;
			transition: all linear 0.2s;
		}

		// .lang-toggle__current._active
		&._active::before {
			transform: translateY(-50%)rotate(-180deg);
		}
	}

	// .lang-toggle__list
	&__list {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

	}

	// .lang-toggle__item
	&__item {
		margin: 10px 0;

		// .lang-toggle__item._active
		&._active {
			display: none;
		}

		// .lang-toggle__item a
		& a {
			transition: all linear 0.2s;
		}

		// .lang-toggle__item a:hover
		& a:hover {
			opacity: 0.6;
		}
	}
}

.main-menu {
	display: flex;
	gap: 75px;

	// .main-menu__item
	&__item {

		// .main-menu__item a
		& a {
			text-transform: uppercase;
			transition: all linear 0.2s;
		}

		// .main-menu__item a:hover
		& a:hover {
			opacity: 0.6;
		}
	}
}

@media (max-width: 1600px) {

	.header {
	
		// .header__cont
		&__cont {
			gap: 10px;
			max-width: 1592px;
			margin: 40px 228px 40px 100px;
		}
	
		// .header__logo
		&__logo {
			flex: 0 0 142px;
			transition: all linear 0.2s;
	
			// .header__logo:hover
			&:hover {
				transform: scale(0.95);
			}
	
			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	
		// .header__nav
		&__nav {
		}
	
		// .header__burger
		&__burger {
			display: none;
		}
	}
	
	.main-nav {
		display: flex;
		gap: 75px;
	
		// .main-nav__actions
		&__actions {
		}
	
		// .main-nav__link
		&__link {
			display: none;
		}
	
		// .main-nav__languages
		&__languages {
		}
	
		// .main-nav__copyright
		&__copyright {
			display: none;
		}
	
		// .main-nav__menu
		&__menu {
		}
	}
	
	.lang-toggle {
		position: relative;
		text-transform: uppercase;
	
		// .lang-toggle__current
		&__current {
			position: relative;
			cursor: pointer;
			padding-right: 10px;
	
			// .lang-toggle__current::before
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				width: 7px;
				height: 4px;
				background: url(../img/home/language-arrow.svg) center/contain no-repeat;
				transition: all linear 0.2s;
			}
	
			// .lang-toggle__current._active
			&._active::before {
				transform: translateY(-50%)rotate(-180deg);
			}
		}
	
		// .lang-toggle__list
		&__list {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
	
		}
	
		// .lang-toggle__item
		&__item {
			margin: 10px 0;
	
			// .lang-toggle__item._active
			&._active {
				display: none;
			}
	
			// .lang-toggle__item a
			& a {
				transition: all linear 0.2s;
			}
	
			// .lang-toggle__item a:hover
			& a:hover {
				opacity: 0.6;
			}
		}
	}
	
	.main-menu {
		display: flex;
		gap: 75px;
	
		// .main-menu__item
		&__item {
	
			// .main-menu__item a
			& a {
				text-transform: uppercase;
				transition: all linear 0.2s;
			}
	
			// .main-menu__item a:hover
			& a:hover {
				opacity: 0.6;
			}
		}
	}
}

//<================================================================== ФУТЕР ===============================================================>\\

.footer {
	border-top: 1px solid #fff;

	// .footer__cont
	&__cont {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	// .footer__author
	&__author {
	}
}

.author {
	display: flex;
	align-items: center;
	gap: 10px;

	// .author__logo
	&__logo {
		display: block;
		width: 40px;
		height: 40px;
		transition: all linear 0.2s;

		// .author__logo:hover
		&:hover {
			transform: scale(0.95);
		}

		// .author__logo img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .author__text
	&__text {
		font: 500 16px/1.56 'NT-Somic';
	}
}

//<============================================================= EXTRA LINKS ==============================================================>\\

.extra-links {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	display: flex;
	align-items: flex-end;
	z-index: 100;

	// .extra-links__item:nth-child(2)
	&__item:nth-child(2) {
		background: #F4D877;
	}

	// .extra-links__item:nth-child(3)
	&__item:nth-child(3) {
		background: #07153B;
	}
}

.extra-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 37px 21px;

	// .extra-item_current
	&_current {
		position: absolute;
		bottom: 0;
		right: 100%;
		height: auto;

		// .extra-item_current .extra-item__arrow
		.extra-item__arrow {
			transform: rotate(0deg);
		}
	}

	// .extra-item a, .extra-item button
	& a,
	& button {
		transition: all linear 0.2s;

		// .extra-item a:hover, .extra-item button:hover
		&:hover {
			opacity: 0.6;
		}
	}

	// .extra-item__arrow
	&__arrow {
		display: block;
		width: 45px;
		height: 45px;
		background: url(../img/home/arrow-top.svg) center/contain no-repeat;
		transform: rotate(45deg);
	}

	// .extra-item__ico
	&__ico {
		width: 35px;
		height: 35px;

		// .extra-item__ico img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .extra-item__name
	&__name {
		font: 400 24px/1.08 'NT-Somic';
		text-transform: uppercase;
		writing-mode: vertical-rl;
	}
}

@media (max-width: 1600px) {
	
	.extra-item {
		padding: 25px 15px;
	
		// .extra-item__arrow
		&__arrow {
			width: 35px;
			height: 35px;
		}
	
		// .extra-item__ico
		&__ico {
			width: 30px;
			height: 30px;
		}
	
		// .extra-item__name
		&__name {
			font-size: 20px;
		}
	}
}

//<============================================================== MAINSCREEN ==============================================================>\\

.mainscreen {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100vh;
	background: url(../img/home/mainscreen-bg.jpg) center/cover no-repeat;

	// .mainscreen__cont
	&__cont {
		padding-top: 144px;
		padding-bottom: 170px;
	}

	// .mainscreen__content
	&__content {
	}

	// .mainscreen__title
	&__title {
		border-bottom: 1px solid #fff;
		margin-bottom: 55px;
	}

	// .mainscreen__info
	&__info {
		display: flex;
		gap: 47px;
	}

	// .mainscreen_btn
	&_btn {
		
	}

	// .mainscreen__text
	&__text {
		color: #ffffff99;
		max-width: 395px;
	}
}

//<============================================================== PORTFOLIO ===============================================================>\\

.portfolio {

	// .portfolio__cont
	&__cont {
		padding-top: 174px;
		padding-bottom: 120px;
	}

	// .portfolio__title
	&__title {
		margin-bottom: 60px;
	}

	// .portfolio__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 45px;
		margin-bottom: 60px;
	}

	// .portfolio__more
	&__more{
		text-align: center;
	}
}

.item-portfolio {
	width: calc(50% - 20px);

	// .item-portfolio_big
	&_big {
		width: 100%;

		.item-portfolio__text {
			max-width: 652px;
		}
	}

	// .item-portfolio__ibox
	&__ibox {
		display: block;
		margin-bottom: 20px;
		
		// .item-portfolio__ibox img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .item-portfolio__info
	&__info {
		display: flex;
		gap: 10px;
	}

	// .item-portfolio__left, .item-portfolio__right
	&__left,
	&__right {
		width: calc(50% - 5px);
	}

	// .item-portfolio__name
	&__name {
		font: 600 24px/1.2 $ff;
	}

	// .item-portfolio__platform
	&__platform {
		width: 90px;
		margin-top: 22px;

		// .item-portfolio__platform img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .item-portfolio__text
	&__text {
		font: 300 16px/1.25 $ff;
		color: #FFFFFF99;
		max-width: 324px;
	}
}

//<================================================================ ABOUT =================================================================>\\

.about {
	background: #000A2E;

	// .about__cont
	&__cont {
		padding-top: 180px;
		padding-bottom: 110px;
	}

	// .about__title
	&__title {
		margin-bottom: 104px;
	}

	// .about__content
	&__content {
		display: flex;
		gap: 70px;
	}

	// .about__info
	&__info {
		width: calc(54% - 35px);
	}

	// .about__ibox
	&__ibox {
		width: calc(46% - 35px);

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.info-about {
	display: flex;
	flex-direction: column;
	justify-content: center;

	// .info-about__title
	&__title {
		font: 500 54px/1.09 'NT-Somic';
		margin-bottom: 27px;

		// .info-about__title strong
		& strong {
			color: #F4D877;
			font-weight: 500;
		}
	}

	// .info-about__tbox
	&__tbox {
		color: #FFFFFF99;
		line-height: 1.5;
		margin-bottom: 40px;

		// .info-about__tbox p:not(:last-child)
		& p:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .info-about__stats
	&__stats {
	}
}

.about-stats {
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 10px;

	// .about-stats__item
	&__item {
	}

	// .about-stats__nunber
	&__nunber {
		font: 500 36px/1.19 'NT-Somic';
	}

	// .about-stats__name
	&__name {
		line-height: 1.5;
		color: #F4D877;
	}
}

//<=============================================================== FEATURES ===============================================================>\\

.features {
	background: #000A2E;

	// .features__cont
	&__cont {
		padding-top: 110px;
		padding-bottom: 134px;
	}

	// .features__title
	&__title {
		margin-bottom: 73px;
	}

	// .features__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 45px;
		row-gap: 80px;
		margin-bottom: 20px;
	}

	// .features__item
	&__item {
		width: calc(33.33% - 30px);
	}

	// .features__name
	&__name {
		font: 500 24px/1.2 'NT-Somic';
		margin-bottom: 7px;

		// .features__name strong
		& strong {
			color: #F4D877;
			font-weight: 500;
		}
	}

	// .features__text
	&__text {
		color: #FFFFFF99;
		line-height: 1.5;
	}

	// .features__link
	&__link {
		text-align: right;
		padding-right: 16%;
	}
}

//<================================================================ DIALOG ================================================================>\\

.dialog {

	// .dialog__cont
	&__cont {
		padding-top: 187px;
		padding-bottom: 122px;
	}

	// .dialog__phrase:not(:last-child)
	&__phrase:not(:last-child) {
		margin-bottom: 30px;
	}
}

.phrase-dialog {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	// .phrase-dialog_client
	&_client {
		align-items: start;

		// .phrase-dialog_client .phrase-dialog__text
		.phrase-dialog__text {
			position: relative;
			padding-left: 30px;
		}

		// .phrase-dialog_client .phrase-dialog__text::before
		.phrase-dialog__text::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 18px;
			height: 4px;
			background: #fff;
		}
	}

	// .phrase-dialog_team
	&_team {
		align-items: end;

		// .phrase-dialog_team .phrase-dialog__item
		.phrase-dialog__item {
			position: relative;
			padding: 24px 45px 30px 60px;
			border: 1px solid #182246;
			border-radius: 30px;
			min-width: 66%;
			margin-right: 90px;
		}

		// .phrase-dialog_team .phrase-dialog__item:last-child::before
		.phrase-dialog__item:last-child::before {
			content: "";
			position: absolute;
			bottom: -1px;
			right: -42px;
			width: 90px;
			height: 67px;
			background: #000 url(../img/home/phrase-angle.svg) center/contain no-repeat;
		}

		// .phrase-dialog_team .phrase-dialog__time
		.phrase-dialog__time {
			bottom: 10px;
			right: 15px;
		}
	}

	// .phrase-dialog__item
	&__item {
		display: inline-block;
		position: relative;
		padding-bottom: 28px;
	}

	// .phrase-dialog__text
	&__text {
		font: 500 36px/1.08 'NT-Somic';
	}

	// .phrase-dialog__time
	&__time {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		color: #FFFFFF99;
		padding-right: 22px;

		// .phrase-dialog__time::before
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 17px;
			height: 9px;
			background: url(../img/home/chat-tick.svg) center/contain no-repeat;
		}
	}

	// .phrase-dialog__sites
	&__sites {
	}

	// .phrase-dialog__workflow
	&__workflow {
	}

	// .phrase-dialog__order
	&__order {
	}

	// .phrase-dialog__deal
	&__deal {
		display: flex;
		align-items: center;
		gap: 23px;
	}
}

.phrase-sites {
	display: flex;
	flex-wrap: wrap;
	column-gap: 22px;
	row-gap: 10px;

	// .phrase-sites__item
	&__item {
		position: relative;
		background: #000A2E;
		padding: 11px 16px 14px;

		// .phrase-sites__item::before
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 34px 34px 0;
			border-color: transparent #000000 transparent transparent;
		}
	}

	// .phrase-sites__ibox
	&__ibox {
		width: 35px;
		height: 35px;
		margin-bottom: 12px;

		// .phrase-sites__ibox img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .phrase-sites__name
	&__name {
		line-height: 1.18;
		max-width: 130px;
	}
}

.phrase-workflow {
	display: flex;
	gap: 12px;

	// .phrase-workflow__item
	&__item {
		width: calc(33.33% - 8px);
		max-width: 240px;
	}

	// .phrase-workflow__ibox
	&__ibox {
		width: 98px;
		height: 80px;
		margin-bottom: 8px;

		// .phrase-workflow__ibox img
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .phrase-workflow__title
	&__title {
		font: 500 24px/1.29 'NT-Somic';
		margin-bottom: 5px;
	}

	// .phrase-workflow__text
	&__text {
		color: #FFFFFFB2;
		line-height: 1.5;
	}
}

//<============================================================= PARTNERSHIP ==============================================================>\\

.partnership {

	// .partnership__cont
	&__cont {
		display: flex;
		gap: 36px;
		padding-top: 122px;
		padding-bottom: 130px;
	}

	// .partnership__left
	&__left {
		flex: 1 1 auto;
	}

	// .partnership__text
	&__text {
		font: 500 36px/1.5 'NT-Somic';
		margin-bottom: 25px;
	}

	// .partnership__btn
	&__btn {
	}

	// .partnership__right
	&__right {
		flex: 0 0 400px;
		padding-top: 20px;
	}

	// .partnership__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	// .partnership__item
	&__item {
		position: relative;
		font: 600 18px/1.38 'NT-Somic';
		color: #000;
		background: #fff;
		border-radius: 20px;
		padding: 7px 10px 7px 33px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			width: 18px;
			height: 18px;
			background: url(../img/home/benefits-tick.svg) center/contain no-repeat;
		}
	}
}